* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}

header {
    background-color: aquamarine;
    color: blueviolet;
    padding: 10px;
}

section {
    padding: 10px;
    text-align: justify;
}

footer {
    background-color: aquamarine;
    text-align: center;
}