/* Ogólny styl strony */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 20px;
    color: #333;
}

/* Nagłówek */
h1 {
    text-align: center;
    color: #2c3e50;
}

h2{
    text-align: center;
    color: #2c3e50;
}

/* Formularz */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Etykiety i pola */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Przycisk */
button {
    display: block;
    margin: 20px auto 10px auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* Wynik */
#wynik {
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
}
